
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
}

::-webkit-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
::-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
:-ms-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
input:-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}


/* 
Defining type styles here lol
*/

html {
	font-family: Inter, sans-serif;
	font-size: 16px;
	color: #101010;
	letter-spacing: -0.3px;
	line-height: 24px;
	margin:0px;
}

body {
	background: #FFF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
}

h1 {
	font-family: Inter;
	font-size: 80px;
	font-weight: 900;
	color: #000000;
	letter-spacing: -3.8px;
	line-height: 120px;
	margin-block-start: 0;
    margin-block-end: 0;
	margin: 0px;
}

h2 {
	font-family: Inter;
	font-weight:600;
	font-size: 70px;
	color: #000000;
	letter-spacing: -3.2px;
	line-height: 103px;
	margin-block-start: 0;
    margin-block-end: 0;
    margin: 0px;
}

h3 {
	font-family: Inter;
	font-size: 64px;
	color: #000000;
	letter-spacing: -1.9px;
	line-height: 88px;	
	margin-block-start: 0;
    margin-block-end: 0;
    margin: 0px;
}

h4 {
	font-family: Inter;
	font-size: 40px;
	color: #000000;
	letter-spacing: -0.5px;
	line-height: 48px;
	margin-block-start: 0;
    margin-block-end: 0;
    margin: 0px;
}

h5 {
	font-family: Inter;
	font-size: 32px;
	color: #000000;
	letter-spacing: -0.3px;
	line-height: 32px;	
	margin-block-start: 0;
    margin-block-end: 0;
    margin: 0px;
}

h6 {
	font-family: Inter;
	font-size: 24px;
	color: #000000;
	letter-spacing: -0.3px;
	line-height: 32px;
	margin-block-start: 0;
    margin-block-end: 0;
    margin: 0px;
}

.title {
	font-family: Inter;
	font-size: 16px;
	color: #000000;
	letter-spacing: -0.3px;
	line-height: 24px;
	margin: 0px;
}

.title-bold {
	font-family: Inter;
	font-size: 16px;
	color: #000000;
	letter-spacing: -0.3px;
	line-height: 24px;
	margin: 0px;
}

p {
	font-family: Inter;
	font-size: 16px;
	color: #000000;
	letter-spacing: -0.3px;
	line-height: 24px;
	margin:0px; 
	margin-bottom:6px;
}



.micro {
	font-family: Inter;
	font-size: 11px;
	color: #000000;
	letter-spacing: -0.2px;
}

.micro-bold {
	font-family: Inter;
	font-size: 11px;
	color: #000000;
	letter-spacing: -0.2px;
}

/* 
Defining spacers here
*/


.spacer-8px {
	height:8px;
	width:8px;
	margin: 0px;
	padding: 0px;
}


.spacer-16px {
	height:16px;
	width:16px;
	margin: 0px;
	padding: 0px;	
}


.spacer-24px {
	height:24px;
	width:24px;
	margin: 0px;
	padding: 0px;
}


.spacer-32px {
	height:32px;
	width:32px;
	margin: 0px;
	padding: 0px;
}


.spacer-40px {
	height:40px;
	width:40px;
	margin: 0px;
	padding: 0px;
}


.spacer-40px {
	height:40px;
	width:40px;
	margin: 0px;
	padding: 0px;
}

.spacer-56px {
	height:56px;
	width:56px;
	margin: 0px;
	padding: 0px;
}

.spacer-80px {
	height:80px;
	width:80px;
	margin: 0px;
	padding: 0px;
}