/* Card component CSS variable definitions */

:root {
  --card-back-color: #f8f8f8;
  --card-fore-color: #111;
  --card-border-color: #653cad;
  --card-margin: 0.5rem;
  --card-padding: 0.5rem;
  --card-border-radius: 0.125rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-self: center; */
  position: relative;
  width: 100%;
  background: var(--card-back-color);
  color: var(--card-fore-color);
  /* border: 0.0625rem solid var(--card-border-color); */
  border-radius: var(--card-border-radius);
  margin: var(--card-margin);
  overflow: hidden;
}

.card:hover {
  border: 1px solid #653cad; 
  margin: 7px;
}

@media screen and (min-width: 320px) {
  .card {
    max-width: 320px;
  }
}

.card h1 {
  font-size:1.0rem;
  font-weight:bold;
  margin:0;
}

.card p {
  margin:0;
}
.section {
  background: var(--card-back-color);
  color: var(--card-fore-color);
  box-sizing: border-box;
  margin: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 0.0625rem solid var(--card-border-color);
  padding: var(--card-padding);
  width: 100%;
}

.media {
  height: 200px;
  padding: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.section:last-child {
  border-bottom: 0;
}

/*
  Custom elements for card elements.
*/
@media screen and (min-width: 240px) {
  .card.small {
    max-width: 240px;
  }
}

@media screen and (min-width: 480px) {
  .card.large {
    max-width: 480px;
  }
}

.card.fluid {
  max-width: 100%;
  width: auto;
}

.card.warning {
  --card-back-color: #ffca28;
  --card-border-color: #e8b825;
}

.card.error {
  --card-back-color: #b71c1c;
  --card-fore-color: #f8f8f8;
  --card-border-color: #a71a1a;
}

.card > .section.dark {
  --card-back-color: #e0e0e0;
}

.card > .section.double-padded {
  padding: calc(1.5 * var(--card-padding));
}
