.primary {
	background: #653CAD;
	border-radius: 24px;
	font-family: Inter;
	font-weight: bold;
	font-size: 1rem;
	color: #FFFFFF;
	letter-spacing: -0.3px;
	text-align: center;
	line-height: 1.5rem;
	height: 3rem;
	padding: 0px 1.5rem;
}

.primary:disabled {
	opacity: 0.2;
}

.primary:focus {
outline:0;
}

.primary:hover {
background: #724BB7;	
}

.primary:clicked {
background: #724BB7;	
}

.secondary {
	background-color: white;
	border: 2px solid #653CAD;
	border-radius: 24px;
	font-size: 16px;
	color: #653CAD;
	letter-spacing: -0.3px;
	text-align: center;
	height: 48px;
	line-height: 24px;
	padding: 0px 1.5rem;
}

.secondary:hover {
	background: #CFBCF2;
	border: 2px solid #421987;
	border-radius: 24px;
}

.secondary:disabled {
	color: #CFBCF2;
	border: 2px solid #CFBCF2;
}

.secondary:focus {
outline:0;
background: #8663C7;
}



.tertiary {
	background-color: white;
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	color: #653CAD;
	letter-spacing: -0.2px;
	text-transform: uppercase;
	text-align: center;
	height: 48px;
	line-height: 24px;
	padding: 0px 1.5rem;
	border:none;

}

.tertiary:hover {
	background: #CFBCF2;
	border-radius: 24px;
}


.tertiary:disabled {
opacity: 0.2;
}

.tertiary:focus {
outline:0;
background: #8663C7;
}


